.card{
    background-color: #F5F7F7;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .next{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.card .next span{
    font-size: 1.4rem;
}


.assigness_card{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: .4rem;
    transition: .3s;
   }
   
   .assigness_card span{
    transition: .3s;
   }
   
   .assigness_card .character{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   
   .assigness_card span:last-child{
    margin-right: 0;
   }
   
   .assigness_card:hover span{
    margin-right: 0;
   }
   
   .assigness_card .assigne_picture{
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: #cbcbcb;
    border: 1px solid #fff;
   }