.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects{
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-right: 4rem;
    height: 82vh;
    display: flex;
    flex-direction: column;
}

.overview{
    padding-left: 4rem;
}

.overview h2{
    font-weight: 500;
}

.info_list{
    margin-top: 2rem;
}

.info_list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:4rem;
}

.info_list li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info_list li p{
    width: 10rem;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.6);
}

.info_list li > span{
    width: 20rem;
    margin-left: 20rem;
    font-size: 1.4rem;
}

.overview h2{
    font-size: 2rem;
}

.overview .task_title{
    margin-top: 4rem;
}

.overview_header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tasks_list{
    margin-top: 2rem;
}

.progress_container{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.progress_bar{
    background-color: rgba(0,0,0,0.1);
    height: 1rem;
    width: 100%;
    border-radius: 5rem;
    margin-top: 1rem;
    overflow: hidden;
}

.progress{
    height: 100%;
    background-color: var(--main-color);
    transition: width .5s;
}

.pregress_title{
    text-align: right;
}

.empty{
    display: grid;
    place-content: center;
    margin-top: -20rem;
}

.empty img{
    width: 30rem;
}

.empty p{
    text-align: center;
}

.projects button{
    width: 20rem;
}

.projects_header{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    padding-right: 2rem;
}



.assigness_card{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: .4rem;
    transition: .3s;
   }
   
   .assigness_card span{
    transition: .3s;
   }
   
   .assigness_card .character{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   
   .assigness_card span:last-child{
    margin-right: 0;
   }
   
   .assigness_card:hover span{
    margin-right: 0;
   }
   
   .assigness_card .assigne_picture{
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: #cbcbcb;
    border: 1px solid #fff;
   }