.banner{
    min-height: 45vh;
    color: #fff;
    padding: 0;
    text-align: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
    
}

.container h2{
    font-weight: 600;
    font-size: clamp(3rem, 8vw + 1rem, 6rem);
    width: min(90%, 80rem);
    margin-block: 1rem;
    line-height:1.2;
    text-align: center;  
}

.buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
  }
  
  .buttons button{
    font-size: 1.6rem;
    line-height: 4rem;
    border-radius: .5rem;
    padding: 1rem 2rem;
    font-weight: 300;
  }
  
  .buttons .white{
    background-color: #fff;
    color: #121212;
    font-size: 1.6rem;
    padding-inline: 4rem;
    font-weight: 500;
  }

  .portrait{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .final{
    background-color: rgba(255, 255, 255, .1);
    border-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50rem;
  }

  .clients_stack{
    display: flex;
    align-items: center;
  }

  .client_text{
    font-size: 1.3rem;
    margin-top: 1rem;
  }


.section_clients{
    display: grid;
    justify-content: center;
}

.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 2rem;

}

.banner h4{
    color: rgba(255, 255, 255, .6);
    font-weight: 400;
}


@media screen and (max-width:768px) {
    .container{
        height: 70vh;        
    }

    .buttons{
        flex-direction: column;
        width: 100%;
    }

    .buttons button{
        width: 100%;
    }

    .buttons .btn{
        width: 100%;
    }

    .clients{
        grid-template-rows: auto;
        grid-template-columns: 180px 180px 120px 180px;
        grid-auto-columns: 200px;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        margin-top: 3rem;
    }
}