.header{
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    height: 7rem;
    max-width: 1200px;
    width: 90%;
    margin: 1rem auto;
}

.logo{
    width: 12rem;
    height: 5.5rem;
}

.nav{
    display: flex;
    gap: 4rem;
    font-weight: 500;
}

.container > div{
    display: flex;
    gap: 4rem;
}
.container
.container nav a{
    cursor: pointer;
    font-weight: 300;
    font-size: 1.5rem;
}

.container button{
    background-color: var(--clr-primary);
    color: #f2f6fa;
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}

.header .menu{
    padding: 0;
    background-color: transparent;
    padding: .5rem;
    color: #fff;
    display: none;
}


.header .menu .line{
    transition: 
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}

.header .menu:hover .line{
    transition: 
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
}


.header .menu:hover .top{
    rotate: 45deg;
    translate: 10px 20px;
}

.header .menu:hover .middle{
    opacity: 0;
}

.header .menu:hover .bottom{
    rotate: -45deg;
}


.list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .speak{
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: .5rem;
    padding:  2rem 3rem;
    background-image: radial-gradient(circle farthest-side at 50% 100%, var(--midnight-blue), var(--black));
    border: 1px solid #57396D;
    border-radius: 1rem;
    box-shadow: 0 0 60px rgba(104, 37, 245, .16);
}

.menud{
    display: flex;
    align-items: center;
    gap: 4rem;
    position: relative;

}

.menud button{
    background-color: transparent;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0;
    position: relative;
}

.menud a{
    background-color: transparent;
    font-weight: 300;
    font-size: 1.5rem;
}
  
  .dropdown{
    position: relative;
  }
  
  .dropdown .link{
    color: #f2f6fa;
  }
  
  .dropdown_menu {
    position: absolute;
    left: 0;
    top: 4.5rem;
    margin: auto;
    opacity: 0;
    z-index: 999999;
    padding: 2rem;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    background-image: radial-gradient(circle farthest-side at 50% 100%, var(--midnight-blue), var(--black));
    width: 35rem;
    border: 1px solid #57396D;
    border-radius: 1rem;
    box-shadow: 0 0 60px rgba(104, 37, 245, .16);
  }
  
  .active > .link + .dropdown_menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .pcs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 2rem;
    align-items: flex-start;
  
  }
  
  .pcs ul{
    display: grid;
    padding: 0;
    min-width: max-content;
  }

  .flex ul{
    gap: 2rem;
  }

  .flex h4{
    margin-bottom: 8rem;
  }
  
  
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 2rem;
    align-items: flex-start;
  }
  
  .services ul{
    display: grid;
    padding: 0;
    min-width: max-content;
  }
  
  .services a{
    display: flex;
    align-items: center;
  }
  .pcs ul li a{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
  }
  
  .anun{
    background-color: #4D0BE5;
    width: 30rem;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  
  .menud .link{
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .menud .link svg{
    margin-top: .3rem;
  }
  .anun img{
    width: 45rem;
    height: 20rem;
    padding-left: 4rem;
  }
  
  .services .anun{
    background-color: #76DDE9;
    color: #000;
  }
  
  .services .anun img{
    width: 70rem;
    height: 16rem;
    margin-bottom: -1rem;
    padding-left: 0;
  }
  
  .pcs_info{
    display: grid;
    gap: 2rem;
    padding-left: 1rem;
  }
  
  .pcs a svg{
    color: #f2f6fa;
  }
  
  .community{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 2rem;
  }
  
  .community h4{
    width: max-content;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  
  .community ul {
    display: grid !important;
    grid-template-columns: 1fr;
    padding: 0;
    gap: 1rem;
    font-weight: 500;
  }
  
  .software ul {
    display: grid !important;
    grid-template-columns: 1fr;
    padding: 0;
    gap: 1rem;
    font-weight: 500;
  }
  
  
  .software{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 2rem;
  }
  
  .software h4{
    width: max-content;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  
  .flex h4{
    width: max-content;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  
  .flex ul{
    margin-bottom: 2rem;
  }


@media screen and (max-width: 900px){

    .header .container{
        padding-inline: 0;
    }
    .header button{
        display: none;
    }

    .header .menu{
        display: block;
        border: none;
        
    }

    .header .nav {
        display: none;
    }
}