.container{
    overflow: hidden;
}

.delete_button{
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    display: flex;
    align-items: center;
    margin-top: .5rem;
   }
   
.right{
    display: flex;
    align-items:'center';
    gap:  2rem;
}

.right .issues_select{
    background-color: #fff;
}