.section{
    padding-block: 8rem;
    width: min(90%, 120rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
    justify-content: center;
    align-items: center;
}

.section h2{
    font-size: 5rem;
    font-weight: 500;
}

.section > p{
    color: rgba(255, 255, 255, .6);
    max-width: 40rem;
    text-align: center;
    margin-bottom: 4rem;

}

.box{
    position: relative;
    width: 50rem;
    -webkit-backdrop-filter: blur(5px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: radial-gradient(circle farthest-side at 50% 100%, var(--midnight-blue), var(--black));
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    padding: 4rem;
    display: grid;
    border: 1px solid #57396D;
    border-radius: 1rem;
    box-shadow: 0 0 60px rgba(104, 37, 245, .16);
    background-image: url(https://assets-global.website-files.com/656678c…/656678c…_pricing%20globe.png), radial-gradient(circle farthest-side at 50% 50%, #18093e, var(--black) 76%);
}

.tag{
    background-color: rgba(223, 154, 255, .1);
    border-radius: 8px;
    padding: 4px 12px;
    position: absolute;
    top: 10px;
    bottom: auto;
    left: auto;
    right: 10px;
}

.content{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding-top: 40px;
    display: flex;
}

.section .caps{
    background-color: rgba(223, 154, 255, .08);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 6px 12px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.section .caps h3{
    background-image: linear-gradient(to bottom, var(--blue-violet), var(--light-steel-blue));
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    font-size: 1.4rem;
}

.content a{
    background-color: #fff;
    border-radius: 1rem;
    color: #121212;
    width: max-content;
    padding: 2rem;
    margin-top: 2rem;
}

.section ul li {
    background-image: url("https://assets-global.website-files.com/656678c749020be98c303cc2/656678c749020be98c303dbb_white%20check.svg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 36px;
    line-height: 160%;
}

.box h4{
    font-weight: 500;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.box p{
    color: rgba(255, 255, 255, .6);
    font-weight: 300;
    margin-bottom: 2rem;
}

.box a{
    background-color: #fff;
    color: #18093e;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    margin-block: 2rem;
}

.price{
    background-image: linear-gradient(to bottom, var(--blue-violet), var(--light-steel-blue));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.price span{
    font-size: 1.8rem;
}

.line{
    width: 100%;
    height: 1rem;
    background-color: transparent;
    border-bottom: 1px dashed rgba(255, 255, 255, .2);
    margin-bottom: 2rem ;
}

.list li{
    font-size: 1.6rem;
}

.items{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    
}
@media screen and (max-width:768px) {
    .section{
        grid-template-columns: 1fr;
    }
}