.menu_btn{
    padding-left: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: #000000b3
}


.menu_btn:hover{
    color: var(--main-color)
}

.footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 2rem;
}

.footer button{
    width: 15rem;
}

.resource{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}