.top_actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem 0;
    padding-bottom: 1.5rem;
   }
   
   .top_actions_right{
    display: flex;
    align-items: center;
    gap: 1rem;
   }
   
   .close{
    background-color: transparent;
    font-size: 2.5rem;
    height: 4rem;
    width: 4rem;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .content{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 2rem;
   }
   
   .assignee{
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
    border-radius: 5rem;
    /* width: 60px; */
    text-align: center;
    width: auto;
   }
   
   .reporter{
     font-size: 1.3rem;
   }
   .assignees{
    display: flex;
    gap: .5rem 1rem;
    flex-wrap: wrap;
   }
   
   .priority{
    font-size: 1.4rem;
    display: flex;
    gap: .5rem;
    align-items: center;
   }
   
   .date{
    margin-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 600;
    color: #333;
   }
   
   .issue_description_details{
    overflow-y: hidden;
   }
   
   .issue_description_details h2{
    font-size: 1.8rem;
   }
   
   .issue_description_details p{
    font-size: 1.4rem;
   }
   
   .issue_description_details ul{
    list-style:inside;
    margin-left: 5rem;
   }
   
   .issue_description_details ul li{
    margin-bottom: 1rem;
   }
   
   .issue_description_details .auto_page .ql-align-justify{
    text-align: left !important;
   }
   
   .issue_description_details .ql-toolbar .ql-toolbar.ql-snow {
    border: none !important;
    display: none !important;
   }
   
   .issue_description_details .ql-toolbar .ql-formats{
    display: none !important;
   }
   
   .delete_button{
    background-color: transparent;
    font-size: 2rem;
    margin-left: 1rem;
    color: #333;
   }
   
   .comments_flex{
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
   }
   
   .comments_flex button{
    padding: 0rem;
    max-width: 6rem;
    height: auto;
   }
   
   .comment{
    display: grid;
    grid-template-columns: 3rem 1fr;
    /* align-items: center; */
    gap: 1rem;
    margin-bottom: 1rem;
   }
   
   .comment .comment_icon{
    background-color: #333;
    border-radius: 50rem;
    width: 3rem;
    height: 3rem;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #fff; 
   }
   
   .comment .comment_text{
     font-size: 1.3rem;
   }
   
   .comment_date{
    font-size: 1.2rem;
   }
   
   .auto_page{
     max-width: 50rem;
   }
   
   .auto_page p{
     word-wrap: break-word;
   }
   
   .issue_description_details pre{
     word-wrap: break-word;
     white-space: pre-wrap;
   }
   
   .title{
     font-size: 2rem;
   }
   
   .details_edit{
     background-color: transparent;
     font-weight: 500;
     background-color: var(--primary-color);
     border-radius: .5rem;
     color: #fff;
     padding: .1rem .5rem;
   }
   
   .Highest{
     color: #DC3545;
     display: block;
     position: relative;
     font-size: 2rem;
    }
    
    .High{
     color: #FF8B00;
     display: block;
     position: relative;
     font-size: 2rem;
    }
    
    .Medium{
     color: #FFC400;
     display: block;
     position: relative;
     font-size: 2rem;
    }
    
    .Low{
     color: #36b37e;
     display: block;
     position: relative;
     font-size: 2rem;
    }
    
    .Lowest{
     color: #6554C0;
     display: block;
     position: relative;
     font-size: 2rem;
    }
    
    
    .Critical{
     color: #DB3737;
     display: block;
     position: relative;
     font-size: 2rem;
    }
    
    .status{
     font-size: 1.3rem;
    }