.list{
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
    min-height: 60rem;
    width: 30rem;
    /* min-width: 20%; */
    border-radius: .5rem;
    background-color: var(--medium-color);
   }
   
   .list h2{
    padding: 1.3rem 1rem 1.7rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.4rem;
   }
   
   .issues{
    height: 100%;
    padding: 0 1rem;
   }
   
   .list_container{
    min-height: 50rem;
    max-height: 67vh;
    overflow-y: auto;
   }